{% extends "base.html" %}
{% block container_class %}container-fluid{% endblock %}

{% block content %}
{% set active = request.endpoint %}



                <form id="logoutForm" method="post"
                    action="{{ url_for('main.logout') }}">
                    {{ form.csrf_token }}
                    <button type="button" class="btn btn-primary"
                        onclick="document.getElementById('logoutForm').submit()">Logout</button>
                </form>
        </aside>   
    </section>   
</div>                {% endblock %}